/* 로컬 폰트 사용하기 */
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/PretendardVariable.ttf") format("truetype");
}
@font-face {
  font-family: "rafaella", sans-serif;
  font-weight: 400;
  font-style: normal;
}
